<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css">
    <title>Show</title>
</head>
<body>
    <h1>  <%= data.name  %></h1>
    <h2>  <%= data.main.temp %> degrees Fahrenheit</h2>
    <h2>  <%= data.weather.main  %></h2>
    <h2>  <%= data.weather.description  %></h2>
    <h2>Humidity:  <%= data.main.humidity  %></h2>
    <h2>Wind Speed:  <%= data.wind.speed  %></h2>
</body>
</html>